body{
    margin: 0;
    padding: 0%;
    
    font-family:sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;

}
#context{
    width: 100vw;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    display: flex;
    #context-logo-box{
        margin: 20px 30px;
        flex-basis: 40px;
        #context-logo{
            height: 40px;
        }
    }
    z-index: 100;    
}

#header{
    width: 100vw;
    height: 90vh;
    
    position: absolute;
    top: 80px;
    left: 0;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 100%);
    z-index: 60;
    #backgroundImg{
        width: 100vw;
        height: 90vh;
        position: fixed;
        top:80px;
        background-size: cover;
        background-position: top;
        background-image: linear-gradient(
            to top,
            rgba(248, 155, 127, 0.7),
            rgba(202, 202, 202, 0.2)),
            url(./media/img/Hilda.jpg);
        z-index: 50;
    }
}